li {
  list-style: none;
  border-bottom: solid 3px grey;
  display: block;
}

li::after {
  display: block;
  content: "";
  clear: both;
}

li:hover {
  cursor: pointer;
  background-color: rgb(100, 100, 100);
}

li h3 {
  margin: 0;
}

.movie img {
  float: left;
  height: 10rem;
  padding: 0 0 0.5rem 0.8rem;
  margin-right: 0.5rem;
}
