/*
F2DB83
dba506
*/

.navbar {
  background-color: rgb(26, 26, 26);
  padding: 0.8rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.logo {
  background-color: rgb(245, 197, 24);
  font-family: sans-serif;
  font-weight: 900;
  letter-spacing: -1.5px;
  padding: 0.2rem;
  border-radius: 0.2rem;
}

.searchBar {
  box-sizing: border-box;
  border: none;
  padding: 0.4rem 0;
  border-radius: 0.2rem;
  width: 25rem;
  padding-inline: 0.3rem;
  /* outline: none; */
}

.searchBar:focus {
  outline-color: rgba(245, 197, 24);
  outline-offset: -2px;
}
