* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.results {
  background-color: rgb(76, 76, 76);
  width: 400px;
  position: absolute;
  /* transform: translate(0, 10px); */
  border-radius: 0.2rem;
  color: white;
}
